@import url(https://fonts.googleapis.com/css?family=Poppins);
$font-Poppins: 'Poppins';

button {
  width: 12em;
  height: 3em;
}

page-home {
  ion-content {
    text-align: center;
    top: 20%;
    font-family: $font-Poppins;
  }

}
