page-winner {
  ion-header {
    text-align: center;
    font-family: $font-Poppins;
  }
  ion-content {
    text-align: center;
    top: 20%;
    font-family: $font-Poppins;
    img {
      width: 50%;
    }
  }
}
